{% extends "layout/base.twig.html" %}

{% block content %}

<div class="container">
    <div class="bg-light rounded">
        <p class="h4">Services ({{ services | length }}) </p>

        <div class="table-responsive">
            <table class="table bordered">
            <thead>
            <tr>
                <td scope="col">
                    <strong>Service</strong>
                </td>
                <td scope="col">
                    <strong>Status</strong>
                </td>
                <td scope="col">
                    <strong>Memory</strong>
                </td>
                <td scope="col">
                    <strong>CPU</strong>
                </td>
                <td scope="col">
                    <strong>Actions</strong>
                </td>
                <td scope="col">
                    <strong>Links</strong>
                </td>
            </tr>
            </thead>
            <tbody>
            {% for service in services %}
                <tr class="table-row">
                    <td>
                        {{ service.Name }} {% if service.Self %}(self){% endif %}
                    </td>
                    <td>
                        {{ service.Status }}
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" title="Memory measurements" popover-content-id="service-{{ service.ContainerID }}-memory-metrics">
                            {{ service.MemoryHistory.All[0].UsedText }} / {{ service.MemoryHistory.All[0].TotalText }}
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" title="CPU measurements" popover-content-id="service-{{ service.ContainerID }}-cpu-metrics">
                            {{ service.CPUHistory.All[0].UsedText }}
                        </button>
                    </td>
                    <td>
                        {% if service.Self %}
                        <a href="/containers/kill?containerId={{ service.ContainerID }}"
                           data-bs-toggle="modal"
                           data-bs-target="#turnOffContainerModal"
                           onclick="showTurnOffContainerModal('{{ service.ContainerID }}', 'ServiceNavigator ({{ service.Name }})')"
                        >
                            <i class="fa-solid fa-stop link-action-stop"></i>
                        </a>
                        {% else %}
                        <a href="/containers/kill?containerId={{ service.ContainerID }}"><i class="fa-solid fa-stop link-action-stop"></i></a>
                        {% endif %}
                    </td>
                    <td>
                        {% if service.WebURL %}
                        <a href="{{ service.WebURL }}"><i class="fa-solid fa-globe"></i></a>
                        {% endif %}

                        {% if service.VCS.URL %}
                            <a href="{{ service.VCS.URL }}" class="link-{{ service.VCS.Type }}">{% if service.VCS.Type %}<i class="fa-brands fa-{{ service.VCS.Type }}"></i>{% else %}{{ service.VCS.Host }}{% endif %}</a>
                        {% endif %}

                        {% if service.Image.RegistryURL %}
                            <a href="{{ service.Image.RegistryURL }}" class="link-docker">
                                <i class="fa-brands fa-docker"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>


{% for service in services %}
<div style="display: none">
    <div id="service-{{ service.ContainerID }}-memory-metrics" style="overflow-y: auto; max-height: 200px">
        <table class="table">
        <tr>
            <td>
                Memory
            </td>
            <td>
                Date
            </td>
        </tr>
        {% for memory in service.MemoryHistory.All %}
        <tr>
            <td><span title="{{ memory.Used }} bytes">{{ memory.UsedText }}</span></td>
            <td>{{ memory.CreatedAt | date("Y-m-d H:i:s")}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <div id="service-{{ service.ContainerID }}-memory-metrics" style="overflow-y: auto; max-height: 200px">
        <table class="table">
        <tr>
            <td>
                Memory
            </td>
            <td>
                Date
            </td>
        </tr>
        {% for memory in service.MemoryHistory.All %}
        <tr>
            <td><span title="{{ memory.Used }} bytes">{{ memory.UsedText }}</span></td>
            <td>{{ memory.CreatedAt | date("Y-m-d H:i:s")}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
    <div id="service-{{ service.ContainerID }}-cpu-metrics" style="overflow-y: auto; max-height: 200px">
        <table class="table">
        <tr>
            <td>
                CPU
            </td>
            <td>
                Date
            </td>
        </tr>
        {% for cpu in service.CPUHistory.All %}
        <tr>
            <td><span title="{{ cpu.Used }}%">{{ cpu.UsedText }}</span></td>
            <td>{{ cpu.CreatedAt | date("Y-m-d H:i:s")}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</div>
{% endfor %}

<div id="turnOffContainerModalContainer"></div>

{% endblock %}
