{% extends "layout/base.twig.html" %}

{% block content %}

<div class="container">
    <div class="bg-light rounded">
        <p class="h4">Images ({{ images | length }}) </p>

        <div class="table-responsive">
            <table class="table bordered">
            <thead>
            <tr>
                <td scope="col">
                    <strong>Name</strong>
                </td>
                <td scope="col">
                    <strong>Size</strong>
                </td>
                <td scope="col">
                    <strong>Actions</strong>
                </td>
            </tr>
            </thead>
            <tbody>
            {% for image in images %}
            <tr class="table-row">
                <td>
                    {{ image.Name }}
                </td>
                <td>
                    {{ image.SizeText }}
                </td>
                <td>
                    <a href="/images/remove?imageId={{ image.ID }}"><i class="fa-solid fa-trash-can link-action-stop"></i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

{% endblock %}
