{% extends "layout/base.twig.html" %}

{% block content %}

<div class="container">
    <div class="bg-light rounded">
        <p>
            <span class="h4">Images ({{ images | length }})</span>
            <span class="h5"><a href="/images/refresh"><i class="fa-solid fa-arrows-rotate link-action-refresh "></i></a></span>
        </p>

        <div class="table-responsive">
            <table class="table bordered">
            <thead>
            <tr>
                <td scope="col">
                    <strong>Name</strong>
                </td>
                <td scope="col">
                    <strong>Size</strong>
                </td>
                <td scope="col">
                    <strong>Actions</strong>
                </td>
                {% if pageConfig.HasCounters %}
                <td scope="col">
                    <strong>Counters</strong>
                </td>
                {% endif %}
                <td scope="col">
                    <strong>Links</strong>
                </td>
            </tr>
            </thead>
            <tbody>
            {% for image in images %}
            <tr class="table-row">
                <td>
                    {{ image.Name }}
                </td>
                <td>
                    {{ image.SizeText }}
                </td>
                <td>
                    <a href="/images/remove?imageId={{ image.ID }}"><i class="fa-solid fa-trash-can link-action-stop"></i></a>
                </td>
                {% if pageConfig.HasCounters %}
                <td>
                    {% if image.NameDetails.RegistryIsDockerHub %}
                        {% if pageConfig.Counters.Pulls %}
                        <img src="https://img.shields.io/docker/pulls/{{ image.NameDetails.Vendor }}/{{ image.NameDetails.Name }}?label=pulls" />
                        {% endif %}
                        {% if pageConfig.Counters.Stars %}
                        <img src="https://img.shields.io/docker/stars/{{ image.NameDetails.Vendor }}/{{ image.NameDetails.Name }}?label=stars" />
                        {% endif %}
                    {% endif %}
                </td>
                {% endif %}
                <td>
                    {% if image.VCS.URL %}
                    <a href="{{ image.VCS.URL }}" class="link-{{ image.VCS.Type }}">{% if image.VCS.Type %}<i class="fa-brands fa-{{ image.VCS.Type }}"></i>{% else %}{{ image.VCS.Host }}{% endif %}</a>
                    {% endif %}

                    {% if image.NameDetails.RegistryURL %}
                    <a href="{{ image.NameDetails.RegistryURL }}" class="link-docker">
                        <i class="fa-brands fa-docker"></i>
                    </a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

{% endblock %}
